{% extends 'layout.html' %}

{% block pathurl %}
	<li>Dashboard</li>
{% endblock %}

{% block content %}
{% load staticfiles%}

		<!-- ## HEADER -->
		<div class="row home-box">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div>

		<!-- ## OVERVIEW BOX -->
		<div class="row home-box">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked external hard drive"><use xlink:href="#stroked-external-hard-drive"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{server_total}}</div>
							<div class="text-muted">Server Total</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{zones_total}}</div>
							<div class="text-muted">Zones Totals</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{record_total}}</div>
							<div class="text-muted">Records Total</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">15:03</div>
							<div class="text-muted">Last Update</div>
						</div>
					</div>
				</div>
			</div> -->

		</div><!--/.row-->


		<div class="row home-box">
			<div class="col-md-7">
				<div class="panel panel-primary">
				</div>
			</div>
		</div>

		<!-- ## ROW 2 -->
		<div class="row home-box">
			<!-- ## TABLE UPDATED RECORD -->
			<div class="col-md-8">

				<div class="panel panel-primary">
					<div class="panel-heading">Last Updated Record</div>
					<div class="panel-body">
						<table  data-toggle="table" id="table-style"
										data-url="{% static 'assets/tables/datarecordX.json' %}"
										data-page-size="5"
										data-page-list="[10,5]"
										data-only-info-pagination="true"
										data-pagination="true"
										data-row-style="rowStyle"
										data-sort-name="r_date"
										data-sort-order="desc"
										data-sorter="s">
						    <thead>
						    <tr>
						        <th data-field="r_hostname" >Record Name</th>
						        <th data-field="r_type" >Type</th>
						        <th data-field="r_value" >Record Data</th>
										<th data-field="r_date" >Last Update</th>
						    </tr>
						    </thead>
						</table>
						<script>
								$(function () {
										$('#hover, #striped, #condensed').click(function () {
												var classes = 'table';

												if ($('#hover').prop('checked')) {
														classes += ' table-hover';
												}
												if ($('#condensed').prop('checked')) {
														classes += ' table-condensed';
												}
												$('#table-style').bootstrapTable('destroy')
														.bootstrapTable({
																classes: classes,
																striped: $('#striped').prop('checked')
														});
										});
								});

								function rowStyle(row, index) {
										var classes = ['active', 'success', 'info', 'warning', 'danger'];

										if (index % 2 === 0 && index / 2 < classes.length) {
												return {
														classes: classes[index / 2]
												};
										}
										return {};
								}
						</script>

					</div>
				</div>
			</div>

			<!-- ## WIDGET PLAN -->
			<div class="col-md-4">
				<div class="panel panel-blue">
					<div class="panel-heading dark-overlay"><svg class="glyph stroked clipboard-with-paper"><use xlink:href="#stroked-clipboard-with-paper"></use></svg>To-do List</div>
					<div class="panel-body">
						<ul class="todo-list">
						<!-- <li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Make a plan for today</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Update Basecamp</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Send email to Jane</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Drink coffee</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Do some work</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li>
							<li class="todo-list-item">
								<div class="checkbox">
									<input type="checkbox" id="checkbox" />
									<label for="checkbox">Tidy up workspace</label>
								</div>
								<div class="pull-right action-buttons">
									<a href="#"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg></a>
									<a href="#" class="flag"><svg class="glyph stroked flag"><use xlink:href="#stroked-flag"></use></svg></a>
									<a href="#" class="trash"><svg class="glyph stroked trash"><use xlink:href="#stroked-trash"></use></svg></a>
								</div>
							</li> -->
						</ul>
					</div>
					<div class="panel-footer">
						<div class="input-group">
							<input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
							<span class="input-group-btn">
								<button class="btn btn-primary btn-md" id="btn-todo">Add</button>
							</span>
						</div>
					</div>
				</div>

			</div>
		</div><!--/.row-->

		

{% endblock %}
