{% extends 'layout.html' %}

{% block pathurl %}
	<li>Dashboard</li>
{% endblock %}

{% block content %}
{% load static %}

		<!-- ## HEADER -->
		<div class="row home-box">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div>

		<!-- ## OVERVIEW BOX -->
		<div class="row home-box">
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-blue panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked external hard drive"><use xlink:href="#stroked-external-hard-drive"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{dashboard_count.server_total}}</div>
							<div class="text-muted">Server Total</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget ">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{dashboard_count.zones_total}}</div>
							<div class="text-muted">Zones Totals</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-orange panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">{{dashboard_count.record_total}}</div>
							<div class="text-muted">Records Total</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="col-xs-12 col-md-6 col-lg-3">
				<div class="panel panel-teal panel-widget">
					<div class="row no-padding">
						<div class="col-sm-3 col-lg-5 widget-left">
							<svg class="glyph stroked clock"><use xlink:href="#stroked-clock"/></svg>
						</div>
						<div class="col-sm-9 col-lg-7 widget-right">
							<div class="large">15:03</div>
							<div class="text-muted">Last Update</div>
						</div>
					</div>
				</div>
			</div> -->

		</div><!--/.row-->


		<div class="row home-box">
			<div class="col-md-7">
				<div class="panel panel-primary">
				</div>
			</div>
		</div>

		<!-- ## ROW 2 -->
		<div class="row home-box">
			<!-- ## TABLE UPDATED RECORD -->
			<div class="col-md-8">

				<div class="panel panel-primary">
					<div class="panel-heading">
						<em class="fa fa-lg fa-list">&nbsp;</em>
						Server Status
					</div>
					<div class="panel-body">
						<table  data-toggle="table" id="table-style"
										data-page-size="5"
										data-page-list="[10,5]"
										data-only-info-pagination="true"
										data-pagination="true">
						    <thead>
						    <tr>
						        <th class="col-md-1">Index</th>
						        <th class="col-md-6">Server</th>
						        <th class="col-md-4">Status (Port 53)</th>
						    </tr>
						    </thead>
								<tbody>
									{% for key, values in server_status.items %}
									<tr {% if values != 'Active' %}class="danger"{% endif %}>
							        <td>{{ forloop.counter }}</td>
							        <td>{{key}}</td>
							        <td>{{values}}</td>
							    </tr>
									{% endfor %}
								</tbody>
						</table>
						<script>
								$(function () {
										$('#hover, #striped, #condensed').click(function () {
												var classes = 'table';

												if ($('#hover').prop('checked')) {
														classes += ' table-hover';
												}
												if ($('#condensed').prop('checked')) {
														classes += ' table-condensed';
												}
												$('#table-style').bootstrapTable('destroy')
														.bootstrapTable({
																classes: classes,
																striped: $('#striped').prop('checked')
														});
										});
								});

								function rowStyle(row, index) {
										var classes = ['active', 'success', 'info', 'warning', 'danger'];


												return {
														classes: classes[4]
												};

								}
						</script>

					</div>
				</div>
			</div>

			<!-- ## LOG Panel -->
			<div class="col-md-4">

				<div class="panel panel-danger">
					<div class="panel-heading">
						<em class="fa fa-lg fa-warning">&nbsp;</em>
						App Log
					</div>
					<div class="panel-body">
						Main service log located at <code>dnsapi/log</code> folder :
						<div class="panel-body">
							<ul>
								<li> <a href="{% static 'log/access.log' %}" class="link-norm" target="_blank">access.log</a> </li>
								<li> <a href="{% static 'log/api.log' %}" class="link-norm" target="_blank">api.log</a> </li>
								<li> <a href="{% static 'log/error.log' %}" class="link-norm" target="_blank">error.log</a> </li>
								<li> <a href="{% static 'log/webui.log' %}" class="link-norm" target="_blank">webui.log</a> </li>
							</ul>
						</div>
						Other related log also generated by Apache service at <code>/var/log/httpd/</code> folder.
					</div>
				</div>

			</div>
		</div><!--/.row-->

		<div class="row home-box">

			<!-- End Col -->
		</div>
		<!-- End Row -->


{% endblock %}
