{% load static %}
{% load custom_filtertag %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="{% static 'assets/images/favicon.ico' %}"/>
<title>DNS Management</title>


<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
<!-- #### Stylesheet Block #### -->
{% block stylesheet %}{% endblock %}

</head>
<body>

	<!-- ########### Section : NAVBAR ########### -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}"><span>DNS</span> Management</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<!-- ########### Section : SIDEBAR ########### -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<!-- ## Menu Sidebar -->
		<ul class="nav menu">
			<li class="nav-head-info" aria-label="Server Host Information">
				<a>
					<div class="col-md-3 ">
						<svg class="glyph stroked desktop"><use xlink:href="#stroked-desktop"/></svg>
					</div>
					<div class="col-md-9 " >
						{{ host_name }}<br>
						<span>{{host_ip}}</span>
					</div>
				</a>
			</li>

			<li role="presentation" class="divider"></li>
			{% url 'index' as urlpath %}
			<li {% if request.path == urlpath %}class="active"{% endif %}>
				<a href="{% url 'index' %}">
					<svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>
					Dashboard
				</a>
			</li>
			{% url 'network' as urlpath %}
			<li {% if request.path|startswith:urlpath %}class="active"{% endif %}>
				<a href="{% url 'network' %}">
					<svg class="glyph stroked wireless router"><use xlink:href="#stroked-wireless-router"></use></svg>
					Networking
				</a>
			</li>
			<li role="presentation" class="divider"></li>
      {% url 'help' as urlpath %}
			<li {% if request.path == urlpath %}class="active"{% endif %}>
				<a href="{% url 'help' %}">
					<svg class="glyph stroked empty message"><use xlink:href="#stroked-empty-message"/></svg>
					Help
				</a>
			</li>
		</ul>
		<div class="attribution">Spacewalk Team, DevOps Intern
			<br/>
			<div style="display: none;">
				<a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/" target="_blank" style="color: #333;">Medialoot</a>
				<a href="http://www.glyphs.co" target="_blank" style="color: #333;">Glyphs</a>
			</div>
		</div>
	</div>

	<!-- ########### Section : MAIN PAGE ########### -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!-- ## DIR-PATH -->
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				{% block pathurl %}{% endblock %}
			</ol>
		</div>

		{% if message_notif %}
		<div class="row">
          <div class="alert alert-dismissible {% if message_notif.type_notif %} alert-{{ message_notif.type_notif }}{% endif %}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message_notif.message }}  <span> {{ message_notif.message_item }}</span>
        	</div>
		</div>
    {% endif %}

		<!-- #### Content Block #### -->
		{% block content %}{% endblock %}

	</div>
	<!-- #### END OF MAIN DIV -->

  <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'assets/js/lumino.glyphs.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
	<!-- #### Script Block #### -->
	{% block script %}{% endblock %}
</body>
</html>
