{% extends 'layout.html' %}

{% block pathurl %}
	<li> Network</li>
	<li>Zones</li>
	<li>{{zones_id}}</li>
{% endblock %}

{% block content %}
{% load staticfiles%}


		<!-- ## HEADER -->

		<div class="row home-box">
			<div class="col-md-12">
				<div class="panel panel-primary">
				</div>
			</div>
		</div>


		<!-- ## PANEL TAB CREATE RECORD -->
		<div class="row home-box">
			<div class="col-lg-12">
				<h2>Create New Record</h2>
			</div>

			<div class="col-md-12">
				<div class="panel panel-info">
					<div class="panel-body tabs">

						<ul class="nav nav-pills tab-heading-info">
							<li class="active">
								<a href="#pilltabA" data-toggle="tab">A</a></li>
							<li><a href="#pilltabAAAA" data-toggle="tab">AAAA</a></li>
							<li><a href="#pilltabCNAME" data-toggle="tab">CNAME</a></li>
							<li><a href="#pilltabMX" data-toggle="tab">MX</a></li>
							<li><a href="#pilltabTXT" data-toggle="tab">TXT</a></li>
							<li><a href="#pilltabNS" data-toggle="tab">NS</a></li>
						</ul>

						<div class="tab-content" >
							<div class="tab-pane fade in active text-box" id="pilltabA">
								<p>A records are for IPv4 addresses only and tell a request where your domain should direct to. </p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" placeholder="Enter Hostname" required>
									</div>
									<div class="form-group-in">
										<label for="f_value">Will Direct To</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Select Resource or custom IP" required>
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="A">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

							<div class="tab-pane fade text-box" id="pilltabAAAA">
								<p>AAAA records are for IPv6 addresses only and tell a request where your domain should direct to. </p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" placeholder="Enter Hostname" required>
									</div>
									<div class="form-group-in">
										<label for="f_value">Will Direct To</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Select Resource or custom IP" required>
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="AAAA">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

							<div class="tab-pane fade text-box" id="pilltabCNAME">
								<p>CNAME records act as an alias by mapping a hostname to another hostname. </p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" placeholder="Enter Hostname" required>
									</div>
									<div class="form-group-in">
										<label for="f_value">Is An Alias Of</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Enter Hostname" required>
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="CNAME">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

							<div class="tab-pane fade text-box" id="pilltabMX">
								<p>MX records specify the mail servers responsible for accepting emails on behalf of your domain,
									and priority value if your provider has a number of mail servers for contingency. </p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" value="" placeholder="Enter Hostname (optional)">
									</div>
									<div class="form-group-in">
										<label for="f_value">Mail Providers Mail Servers</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Enter Mail Providers Servers" required>
									</div>
									<div class="form-group-in">
										<label for="f_priority">Priority</label>
										<input id="f_priority" name="f_priority" class="form-control" placeholder="e.g. 10">
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="MX">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

							<div class="tab-pane fade text-box" id="pilltabTXT">
								<p>TXT records are used to associate a string of text with hostname. These are primarily used for verification.</p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" placeholder="" required>
									</div>
									<div class="form-group-in">
										<label for="f_value">Value</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Paste TXT string here" required>
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="TXT">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

							<div class="tab-pane fade text-box" id="pilltabNS">
								<p>NS records specify the servers which are providing DNS services for your domain.
									You can use these to create subzones if you need to direct part of your trafic to another DNS service.</p>
								<!-- ## Add Record Form -->
								<form action="{{ request.path }}" method="post" role="form" class="form-in">
									 {% csrf_token %}
									<div class="form-group-in">
										<label for="f_hostname">Hostname</label>
										<input id="f_hostname" name="f_hostname" class="form-control" value="" placeholder="Enter Hostname (optional)">
									</div>
									<div class="form-group-in">
										<label for="f_value">Will Direct To</label>
										<input id="f_value" name="f_value" class="form-control" placeholder="Enter Nameserver" required>
									</div>
									<div class="form-group-in">
										<label for="f_ttl">TTL (Seconds)</label>
										<input id="f_ttl" name="f_ttl" class="form-control f_ttl" value="" placeholder="None">
									</div>
									<input type="hidden" id="f_type" name="f_type" value="NS">
									<button type="submit" class="btn btn-primary">CREATE RECORD</button>
								</form>
							</div>

						</div>
					</div>
				</div><!--/.panel-->
			</div><!-- /.col-->

		</div><!-- /.row -->




		<!-- ## DNS RECORD - TABLE  -->
		<div class="row home-box">
			<div class="col-lg-12">
				<h2>DNS Record : <a>{{zones_id}}</a></h2>
			</div>

			<div class="row table-box">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">List of registered DNS records on {{zones_id}} zones.</div>
						<div class="panel-body">
							<table id="resourcerecord"
											data-show-refresh="true"
											data-show-toggle="true"
											data-show-columns="true"
											data-search="true"
											data-select-item-name="toolbar1"
											data-pagination="true"
											data-sort-order="asc">
							    <thead>
							    <tr>
											<th data-formatter="runningFormatter" >Index</th>
							        <th data-field="rtype" data-sortable="true" >Type</th>
							        <th data-field="name" data-sortable="true">Hostname</th>
							        <th data-field="rdata.address"  data-sortable="true">Value</th>
							        <th data-field="ttl" data-sortable="true">TTL</th>
											<th  data-align="center"
													data-formatter="actionFormatter" data-events="actionEvents">Action</th>
							    </tr>
							    </thead>
							</table>
						</div>
					</div>
				</div>
			</div><!--/.row-->

{% endblock %}

{% block script %}
{% load staticfiles%}

	<script>
			function responFlatenedJson(data) {
				var result = {};
				var resultarray = [];
				function recurse (cur, prop) {
						if (Object(cur) !== cur) {
								result[prop] = cur;
						} else if (Array.isArray(cur)) {
								 for(var i=0, l=cur.length; i<l; i++)
										 recurse(cur[i], prop + "[" + i + "]");
								if (l == 0)
										result[prop] = [];
						} else {
								var isEmpty = true;
								for (var p in cur) {
										isEmpty = false;
										recurse(cur[p], prop ? prop+"."+p : p);
								}
								if (isEmpty && prop)
										result[prop] = {};
						}
				}
				//Recurse is absolute function to flattened an object jsonFromFile
				//Below loop is to only flatten each object inside array, not
				//the whole array, so the result is still array of object (with flattened object).
				//credit : kucik.in
				for(var i=0, l=data.length; i<l; i++){
						recurse(data[i], "");
						resultarray.push(result);
						result = {}
				}
				return resultarray;
				//original code to flattened whole array
				// recurse(data, "");
    		// return result;
			}

			$.getJSON("http://{{ request.get_host }}/api/{{zones_id}}", function (jsonFromFile) {
					$('#resourcerecord').bootstrapTable({
						data: responFlatenedJson(jsonFromFile.resource_records)
					})
			});

	</script>

	<script>

			function actionFormatter(value, row, index) {
				return [
						'<a class="edit btn-action action-edit" href="javascript:void(0)" title="Edit">',
						'<i class="glyphicon glyphicon-edit"></i>',
						'</a>',
						'<a class="remove btn-action action-del" href="javascript:void(0)" title="Remove">',
						'<i class="glyphicon glyphicon-remove"></i>',
						'</a>'
				].join('');
			}

			function runningFormatter(value, row, index) {
			    return index+1;
			}

			window.actionEvents = {
				'click .edit': function (e, value, row, index) {
						alert('Edit, row: ' + JSON.stringify(row));
						console.log(value, row, index);
				},
				'click .remove': function (e, value, row, index) {
						alert('You click remove icon, row: ' + JSON.stringify(row));
						console.log(value, row, index);
				}
			};
	</script>
	<script>
		var ttl_tags = [
			{"label": "1H", "code": "1H"},
			{"label": "60", "code": "60"},
			{"label": "120", "code": "120"},
			{"label": "1200", "code": "1200"},
			{"label": "2400", "code": "2400"},
			{"label": "3600", "code": "3600"},
			{"label": "7200", "code": "7200"},
			{"label": "14400", "code": "14400"},
			{"label": "28800", "code": "28800"},
		];

		$(".f_ttl" ).autocomplete({
			source: ttl_tags
		});
	</script>
{% endblock %}
